name: Docker

on:
  workflow_call:
    inputs:
      build-args:
        required: false
        type: string
      context:
        default: '.'
        required: false
        type: string
      platforms:
        required: false
        type: string
      push:
        default: true
        required: false
        type: boolean
      tags:
        required: true
        type: string

      # peter-evans/dockerhub-description
      description-repository:
        required: false
        type: string

    secrets:
      TOKEN:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Set up QEMU
        if: inputs.platforms != ''
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: inputs.platforms != ''
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: waterlemons2k
          password: ${{ secrets.TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          build-args: ${{ inputs.build-args }}
          context: ${{ inputs.context }}
          platforms: ${{ inputs.platforms }}
          push: ${{ inputs.push }}
          tags: ${{ inputs.tags }}

      - name: Docker Hub Description
        if: inputs.description-repository != ''
        uses: peter-evans/dockerhub-description@v5
        with:
          username: waterlemons2k
          password: ${{ secrets.TOKEN }}
          repository: ${{ inputs.description-repository }}
